@using System.Web.Optimization;
@{
    ViewBag.Title = "Index";
}
<html>
  <head>
    @Styles.Render("~/Contect/Styles")
  </head>
  <body>
    <div>
      <app-root></app-root>
    </div>
    @Scripts.Render("~/Script/Bundles")
  </body>
</html>
<h2>Index</h2>

